{% extends "base.html" %}
{% block title %}Add a New Question{% endblock %}

{% block follow %}
<p class="lead">
    <strong>Be Smug!</strong>
    Enter a new question or opinion and have people vote on it
</p>
{% endblock %}

{% block content %}
<hr>
<div class="row">
    <h3 class="span4">Tell me how you really feel:</h3>
</div>
<div class="row">
    <div class="span8 offset4">
        <h2>{{ question.question }}</h2>
    </div>
</div>
<div class="row">
    <div class="span4 offset4">
        <form method="POST" action="{{ request.path }}/up" id="vote_up">
            <button class="btn btn-large btn-success" type="submit" name="up">&uArr; Yes</button>
            <span class="vote-count up">
                ({{ question.up }})
            </span>
        </form>

    </div>
    <div class="span4">
        <form method="POST" action="{{ request.path }}/down" id="vote_down">
            <button class="btn btn-large btn-danger" type="submit" name="down">&dArr; No</button>
            <span class="vote-count down">
                ({{ question.down }})
            </span>
        </form>
    </div>
</div>
{% endblock %}
